@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-blue: #0056B3;
  --brand-light: #e6f0fa;
  --brand-dark: #003d80;
  --brand-accent: #00a8e8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-blue: var(--brand-blue);
  --color-brand-light: var(--brand-light);
  --color-brand-dark: var(--brand-dark);
  --color-brand-accent: var(--brand-accent);
  --font-playfair: var(--font-playfair);
}

/* @keyframes softBounce {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  60% {
    transform: translateY(-8px);
    opacity: 1;
  }
  80% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
} */

/* @keyframes softBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
} */

/* @keyframes smoothBounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-smooth-bounce {
  animation: smoothBounce 2.5s linear infinite;
}

.animate-soft-bounce {
  animation: softBounce 1.2s ease-in-out infinite;
}

.animate-soft-bounce {
  animation: softBounce 0.8s ease-out;
} */


@keyframes fabFloat {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-14px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-fab {
  animation: fabFloat 1.8s ease-in-out infinite;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}